{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/components/header.njk" %}

<main class="main-content">
  <div class="wizard">
    <div class="wizard-inner">
      <div class="connecting-line"></div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a
            href="#step1"
            data-toggle="tab"
            aria-controls="step1"
            role="tab"
            aria-expanded="true"
            ><span class="round-tab">1 <i>البيانات الشخصية </i> </span>
          </a>
        </li>
        <li role="presentation" class="active">
          <a
            href="#step2"
            data-toggle="tab"
            aria-controls="step2"
            role="tab"
            aria-expanded="false"
            ><span class="round-tab">2 <i>البيانات الاكاديمية</i></span>
          </a>
        </li>
        <li role="presentation" class="active">
          <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"
            ><span class="round-tab">3 <i> البيانات الوظيفية </i></span>
          </a>
        </li>
        <li role="presentation" class="active">
          <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab"
            ><span class="round-tab">4 <i> البيانات المالية والاجازات</i></span>
          </a>
        </li>
        <li role="presentation" class="disabled">
          <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab"
            ><span class="round-tab">5 <i> سياسة الحضور</i></span>
          </a>
        </li>
        <li role="presentation" class="disabled">
          <a href="#step6" data-toggle="tab" aria-controls="step6" role="tab"
            ><span class="round-tab">6 <i> حفظ</i></span>
          </a>
        </li>
      </ul>
    </div>

    <form role="form" action="#">
      <div class="tab-content" id="main_form">
        <div class="tab-pane" role="tabpanel" id="step1"></div>
        <div class="tab-pane" role="tabpanel" id="step2"></div>
        <div class="tab-pane" role="tabpanel" id="step3"></div>
        <div class="tab-pane active" role="tabpanel" id="step4">
          <h2 class="title">البيانات المالية</h2>

          <div class="row">
            <div class="col-md-11">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label> المرتب الاساسي </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder=" المرتب الاساسي"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label> عدد ايام العمل في الاسبوع </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="  عدد ايام العمل في الاسبوع "
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label> عدد ساعات العمل </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder=" عدد ساعات العمل"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <ul>
                <li>
                  <input type="checkbox" id="ch_7" name="ch_7" />
                  <label for="ch_7"> يوم</label>
                </li>
                <li>
                  <input type="checkbox" id="ch_8" name="ch_8" />
                  <label for="ch_8"> اسبوع </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-11">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label> البدلات المالية للموظف </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="  البدلات المالية للموظف"
                    />
                  </div>
                  <div class="form-group">
                    <label class="bold-text"> قيمة الساعة </label>
                    <button type="button" class="btn-main btn-action btn-block">
                      150 SR / hr
                    </button>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label> قيمة السيارة </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="  قيمة السيارة     "
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bold-text"> اجمالي القيمة المالية </label>
                    <button type="button" class="btn-main btn-action btn-block">
                      معادلة حسابية
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dues">
            <div class="row">
              <div class="col-md-6">
                <h2 class="title mb-0">مستحقات الموظف</h2>
              </div>
              <div class="col-md-6 text-left">
                <button type="button" class="btn-main"   data-toggle="modal"
                data-target="#modal-8">
                  <i class="icon-add"></i> اضافة
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h2 class="title mb-0">الاجازات</h2>
              </div>
              <div class="col-md-6 text-left">
                <button
                  type="button"
                  class="btn-main"
                  data-toggle="modal"
                  data-target="#modal-15"
                >
                  <i class="icon-add"></i> اضافة
                </button>
              </div>
            </div>
          </div>

          <div class="border-line"></div>
          <ul class="wizard-btn">
            <li>
              <button type="button" class="btn-main prev-step">رجوع</button>
            </li>

            <li>
              <button type="button" class="btn-main next-step">التالي</button>
            </li>
          </ul>
        </div>
        <div class="tab-pane" role="tabpanel" id="step5"></div>
        <div class="tab-pane" role="tabpanel" id="step6"></div>
      </div>
    </form>
  </div>
</main>
<!-- modals -->
<div
  class="modal fade"
  id="modal-15"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">الاجازات</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><i class="icon-close-square"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>اسم الاجازة</label>
              <input
                type="text"
                class="form-control"
                placeholder="  اسم الاجازة "
              />
            </div>
            <div class="form-group">
              <label>تاريخ التعيين</label>
              <div
                class="input-group date"
                id="datetimepicker20"
                data-target-input="nearest"
              >
                <input
                  type="text"
                  class="form-control datetimepicker-input"
                  data-target="#datetimepicker20"
                  placeholder="  تاريخ التعيين"
                />
                <div
                  class="input-group-append"
                  data-target="#datetimepicker20"
                  data-toggle="datetimepicker"
                >
                  <div class="input-group-text">
                    <i class="icon-note-text"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>نوع الاجازة</label>
              <select class="form-control">
                <option>نوع الاجازة</option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
            <div class="form-group">
              <label>تاريخ استحقاق الاجازات</label>
              <div
                class="input-group date"
                id="datetimepicker21"
                data-target-input="nearest"
              >
                <input
                  type="text"
                  class="form-control datetimepicker-input"
                  data-target="#datetimepicker21"
                  placeholder="  تاريخ استحقاق الاجازات"
                />
                <div
                  class="input-group-append"
                  data-target="#datetimepicker21"
                  data-toggle="datetimepicker"
                >
                  <div class="input-group-text">
                    <i class="icon-note-text"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h6>الية الاجازات قبل المدة</h6>
        <ul>
          <li>
            <input type="checkbox" id="ch_17" name="ch_17" />
            <label for="ch_17"> خصم يومين</label>
          </li>
          <li>
            <input type="checkbox" id="ch_18" name="ch_18" />
            <label for="ch_18"> خصم يوم </label>
          </li>
          <li>
            <input type="checkbox" id="ch_19" name="ch_19" />
            <label for="ch_19"> خصم يوم ونصف </label>
          </li>
          <li>
            <input type="checkbox" id="ch_20" name="ch_20" />
            <label for="ch_20"> خصم من الرصيد </label>
          </li>
        </ul>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label> رصيد الاجازات</label>
              <select class="form-control">
                <option>رصيد الاجازات</option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label> مدة العمل</label>
              <input
                type="text"
                class="form-control"
                placeholder="  مدة العمل  "
              />
            </div>
          </div>
        </div>
        <h6>اذن الاجازات</h6>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label> خصم من الرصيد</label>
              <input
                type="text"
                class="form-control"
                placeholder="   خصم من الرصيد  "
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label> بدون انذار</label>
              <input
                type="text"
                class="form-control"
                placeholder="   بدون انذار  "
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-main">اضافة</button>
      </div>
    </div>
  </div>
</div>
<div
class="modal fade"
id="modal-8"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-md" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">مستحقات الموظف</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="icon-close-square"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder=" بحث  "
            />
          </div>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn-main btn-block">بحث</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
