{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/components/header.njk" %}

<main class="main-content">
  <div class="wizard">
    <div class="wizard-inner">
      <div class="connecting-line"></div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a
            href="#step1"
            data-toggle="tab"
            aria-controls="step1"
            role="tab"
            aria-expanded="true"
            ><span class="round-tab">1 <i>البيانات الشخصية </i> </span>
          </a>
        </li>
        <li role="presentation" class="active">
          <a
            href="#step2"
            data-toggle="tab"
            aria-controls="step2"
            role="tab"
            aria-expanded="false"
            ><span class="round-tab">2 <i>البيانات الاكاديمية</i></span>
          </a>
        </li>
        <li role="presentation" class="active">
          <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"
            ><span class="round-tab">3 <i> البيانات الوظيفية </i></span>
          </a>
        </li>
        <li role="presentation" class="active">
          <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab"
            ><span class="round-tab">4 <i> البيانات المالية والاجازات</i></span>
          </a>
        </li>
        <li role="presentation" class="active">
          <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab"
            ><span class="round-tab">5 <i> سياسة الحضور</i></span>
          </a>
        </li>
        <li role="presentation" class="disabled">
          <a href="#step6" data-toggle="tab" aria-controls="step6" role="tab"
            ><span class="round-tab">6 <i> حفظ</i></span>
          </a>
        </li>
      </ul>
    </div>

    <form role="form" action="#">
      <div class="tab-content" id="main_form">
        <div class="tab-pane" role="tabpanel" id="step1"></div>
        <div class="tab-pane" role="tabpanel" id="step2"></div>
        <div class="tab-pane" role="tabpanel" id="step3"></div>
        <div class="tab-pane" role="tabpanel" id="step4"></div>
        <div class="tab-pane active" role="tabpanel" id="step5">
          <div class="row">
            <div class="col-md-4 offset-md-4">
              <div class="row">
                <h2 class="title">وردية الحضور</h2>

                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=" الفرع الرئيسي  "
                  />
                  <i class="icon-edit"></i>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="  وردية 2  "
                  />
                  <i class="icon-edit"></i>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <h2 class="title">محددات الحضور</h2>

                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=" نطاق الحضور 200م   "
                  />
                  <i class="icon-edit"></i>
                </div>
              </div>
            </div>
          </div>
          <ul class="wizard-btn">
            <li>
              <button type="button" class="btn-main">حفظ</button>
            </li>
          </ul>

          <div class="border-line"></div>
          <div class="login-settings">
            <form action="#">
              <h2>اعدادات الدخول</h2>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>اسم المستخدم</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder=" اسم المستخدم     "
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label> كلمة المرور</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="  كلمة المرور     "
                    />
                    <i>
                      <img
                        src="assets/images/eye-slash.svg"
                        alt="password icon"
                      />
                    </i>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn-main">حفظ</button>

            </form>
          </div>
          <div class="border-line"></div>

          <ul class="wizard-btn">
            <li>
              <button type="button" class="btn-main prev-step">رجوع</button>
            </li>

            <li>
              <button type="button" class="btn-main next-step">التالي</button>
            </li>
          </ul>
        </div>
        <div class="tab-pane" role="tabpanel" id="step6"></div>
      </div>
    </form>
  </div>
</main>

{% endblock %}
