.nav-tabs {
  padding: 0;
  border-bottom: 0;

  li {
    position: relative;
  }

  .nav-link {
    color:$gray;
    border-radius: 12px 12px 0 0;
    font-size: 18px;
    background: #ffffff;
    text-align: center;
    font-weight: bold;
    width: 250px;

    &.active {
      background: $light-gray;
      color: $main-color;
      border-color: $light-gray;
    }
    &:hover {
      border: none;
    }
  }
}

.tab-content {
  & > .active {
    background-color: $light-gray;
    min-height: 100vh;
    padding: 20px;
    border-radius:0  0 12px 12px;
    -webkit-border-radius:0  0 12px 12px;
    -moz-border-radius:0  0 12px 12px;
    -ms-border-radius:0  0 12px 12px;
    -o-border-radius:0  0 12px 12px;
}

  h5 {
    font-size: 18px;
		font-weight: bold;
    
  }
}
// employee-data
.employee-data{
  .nav-tabs .nav-link{
    width: 100px;
  }
}