<form action="#">
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="search"
          name="search"
          placeholder=" بحث "
        />
      </div>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn-main btn-block">بحث</button>
    </div>
  </div>
</form>
