  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn-main ml-3 ">
        <i class="icon-add"></i> اضافة موظف
      </button>
      <button type="button" class="btn-main btn-ghost px-10  ml-3">
        <i class="icon-edit"></i> تعديل
      </button>
      <button type="button" class="btn-main btn-ghost px-10">
        <i class="icon-folder-open"></i> المسودة
      </button>
  
    </div>
  </div>
