<form action="#">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn-main btn-block">
            <i class="icon-add"></i> اضافة موظف
          </button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn-main btn-ghost btn-block">
							<i class="icon-edit"></i>	تعديل		        </button>
          </div>
        <div class="col-md-3">
            <button type="button" class="btn-main btn-ghost btn-block">
							<i class="icon-folder-open"></i>     المسودة
            </button>
						</div>
      </div>
    </div>
		</div>
  
</form>
