/* _____ VARIABLES _____ */
$main-border-radius: 12px;
$main-shadow: (0px 4px 10px rgba(0, 0, 0, 0.5));
$main-transition: all 200ms ease-in-out;

// Colors


$color-text: #fff;
$color-pink: #33ccff;
$color-default-light: #fff;
$color-default-dark: #333;
$color-default-darker: #000;

$color-main: #5f2749;
$color-secondary: #fa8967;

// Colors

$primary-color: #2354f3;
$secondary-color: #fa8967;

$primary-color-light: #9d2f4c;

$secondary-color-light: #fdc175;
$link-color: #00a6ed;
$facebook-color: #5263c6;
$twitter-color: #40c4ff;
$instagram-color: #a43564;

///////////////////////////////////////
//elheba-colors
$main-color: #004693;
$white-color: #ffffff;
$border-color: #ececec;
$black-color: #000000;
$gray-grade-other: #ececec;
$white-color: #ffffff;
$dark-gray: #8b8b97;
$orange-color: #F19B02;
$blue-color: #4044aa;
$green-color: #18CB5F;
$sign-bg-color: #fce7cd;
$red-color: #ff0000;
$Yellow-color: #F4BC11;
$gray: #A7A7A7;

// lighter colors
$lighter-green: #D4EEDE;
$light-gray: #F3F5F7;
$lighter-red: #EED4D4;
$lighter-orange: #FDF0D9;
$lighter-blue: #F3F5F7;
$main-color-lighter:#98B3D0;


