header {
  height: 100px;
  background: $white-color !important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
}

.header-content {
  height: 100px;
  padding: 0 30px;
  margin-right: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon-ntf {
    color: #00488f;
  }

  .search-form {
    padding: 12px 0;
    input {
      background: #f8f9fa;
      display: inline-block;
      padding: 0 20px;
      height: 36px;
      border: 1px solid #dee2e6;
      display: inline-block;
      width: 450px;
      border-radius: 5px;
    }
  }
}
.navbar-left,
.navbar-right {
  line-height: 60px;
  padding: 20px 0;
}

.user-avatar {
  cursor: pointer;
  position: relative;
  display: inline-block;
  span {
    font-size: 14px;
  }

  &:hover {
    .user-menu {
      display: block;
      li {
        line-height: 24px;
      }
    }
    i {
      display: inline-block;
      color: red;
      transition: 0.5s;
      transform: rotatex(180deg);
      -webkit-transform: rotatex(180deg);
      -moz-transform: rotatex(180deg);
      -ms-transform: rotatex(180deg);
      -o-transform: rotatex(180deg);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
    }
  }

  i {
    font-size: 20px;

    margin-right: 8px;
  }

  img {
    margin-left: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }
}

.user-menu {
  display: none;
  position: absolute;
  min-width: 135px;
  list-style: none;
  background: #fff;
  right: 3px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #ced4da;
  border-radius: 10px;
  z-index: 999;
  top: 58px;
  li {
    padding: 10px 20px;
    a {
      color: $main-color;
    }
    &:hover {
      cursor: pointer;
      a {
        color: $main-color;
        text-decoration: none;
      }
    }
  }
}
.navbar-right {
  padding-right: 30px;
  h1 {
    font-size: 18px;
    line-height: 45px;
    margin-bottom: 0;
  }
}
.navbar-left {
  display: inline-flex;
}

.ntf {
  position: relative;
  cursor: pointer;
  margin-left: 32px;
  &:hover {
    .ntf-menu {
      display: block;
    }
  }
}
.ntf-menu {
  display: none;
  a {
    color: $gray;
    text-align: left;
    font-size: 12px;
    display: block;
    text-decoration: underline;
  }
  position: absolute;
  width: 215px;
  background: #ffffff;
  left: 0;
  border-radius: $main-border-radius;
  border: 1px solid #e9ecef;
  padding: 20px 25px;
  z-index: 9;
  top: 50px;
  .ntf-item {
    border-bottom: 2px solid $main-color;
    padding: 5px 0;
    margin-bottom: 0;
    color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
    .ntf-status {
      left: 0;
    }
    &:hover{
      background-color: #F3F5F7;
    }
  }
  &:hover {
    display: block;
  }
}

.ntf-item {
  position: relative;
  margin-bottom: 20px;
  .ntf-desc {
    max-width: 90%;
    margin-bottom: 5px;
  }
  .ntf-time {
    color: $gray;
    font-size: 12px;
    margin-right: 15px;
    p{
      margin-bottom: 5px;
      line-height: 20px;
    }
  }
  .ntf-status {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 18px;
    right: -15px;
    display: inline-block;
    background: $orange-color;
    border-radius: 10px;
  }
}
