.sidebar-logo {
  text-align: center;
  margin-bottom: 70px;
  img {
    width: 110px;
    height: 64px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  figcaption {
    font-size: 18px;
    font-weight: bold;
    color: $white-color;
  }
}
.main-sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  right: 0;
  background: $main-color;
  transition: left 0.4s ease;
  z-index: 99999999;
  padding: 32px 4px;
  overflow-y: inherit;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  ul {
    background: $main-color;

    text-align: right;
    li {
      line-height: 60px;

      a {
        position: relative;
        color: $white-color;
        text-decoration: none;
        font-size: 16px;
        padding-right: 16px;
        font-weight: bold;
        display: block;
        width: 100%;
        border-left: 3px solid transparent;
      }
    }
  }
  a {
    i:before {
      color: $white-color;
    }
  }
}

nav ul li a.active {
  color: $white-color !important;
  background-color: $main-color-lighter;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
nav ul li a.active i:before {
  color: $white-color !important;
}

nav ul ul {
  position: static;
  display: none;
}
nav ul .data-show.data-submenu {
  display: block;
}
nav ul .structure-show.structure-submenu {
  display: block;
}
nav ul .employees-show.employees-submenu {
  display: block;
}

nav ul .structure-show.structure-submenu {
  display: block;
}
nav ul .departure-show.departure-submenu {
  display: block;
}
nav ul ul li {
  line-height: 42px;
  border-top: none;
}
nav ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
}
nav ul ul li a i {
  color: #e6e6e6;
}

nav ul li a i {
  position: absolute;
  top: 40px;
  left: 49px;
  transform: translateY(-93%);
  font-size: 22px;
  transition: transform 0.4s;
  -webkit-transform: translateY(-93%);
  -moz-transform: translateY(-93%);
  -ms-transform: translateY(-93%);
  -o-transform: translateY(-93%);
}
nav ul li a i.rotate {
  transform: translateY(-50%) rotate(-180deg);
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
}
.user-image {
  background-color: transparent;
  padding-top: 200px;
  text-align: center;
  .user-avatar {
    display: block;
  }
  img {
    width: 136px !important;
    height: 136px !important;
    margin-bottom: 12px;
  }
  a {
    font-size: 13px;
    i:before {
      color: $main-color;
      position: relative;
      top: 4px;
    }
  }
}
//mobile-slider
.sliedbar-show {
  display: none;
}
.slidebar-mobile {
  nav{
    padding: 20px  10px ;
  }
  position: fixed;
  background-color: #00488f;
  top: 0px;
  left: auto;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(220px);
  -moz-transform: translateX(220px);
  -ms-transform: translateX(220px);
  -o-transform: translateX(220px);
  transform: translateX(220px);

  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  z-index: 999999;
  overflow-y: auto;
  
  ul {
    overflow: hidden;
    padding: 0;
    ul {
      display: none;
  
      li {
        a {
          &:after {
            display: none;
          }
        }
      }
    }
    li {
      position: relative;
    }
    a {
      width: 100%;
    
      display: block;
      padding: 20px 0;
      color: $white-color;
      text-decoration: none;
      -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
      text-decoration: none;
      // text-align: center;
      // &:hover {
      //   // background: #eee;
      //   color: #999;
      // }
      i::before{
        color: #ffffff !important;
        font-size: 20px;
        margin-left: 10px;
      }
     
    }
  }
  
}

.slidebar-mobile.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

#wrapper {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 999999;
  font-size: 20px;
  a{
    color: $main-color;
  }
}

.is-obscured {
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
}

.overlay-slide {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  opacity: 0;
  background: black;
  visibility: hidden;
  z-index: 999998;
}

.overlay-slide.is-visible {
  opacity: 0.4;
  visibility: visible;
}
