{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/components/header.njk" %} {% include
"templates/components/sidebar.njk" %}

<main class="main-content">
  <div class="employee-details">
    <h5 class="title mb-0">مهندس معماري</h5>
    <p class="operation-status confirmed-status">نشط</p>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="tab-01"
        data-toggle="tab"
        href="#content-01"
        role="tab"
        aria-controls="content-01"
        aria-selected="true"
      >
        التفاصيل
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="tab-02"
        data-toggle="tab"
        href="#content-02"
        role="tab"
        aria-controls="content-02"
        aria-selected="true"
      >
        الموظفين
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active h-230"
      id="content-01"
      role="tabpanel"
      aria-labelledby="tab-01"
    >
      <div class="desc-text">
        <h5>الوصف</h5>

        <p>
          هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
          النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من
          النصوص الأخرى
        </p>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="content-02"
      role="tabpanel"
      aria-labelledby="tab-02"
    >
        <ul class="employee-setting">
          <li>
            <div class="form-group mb-0">
              <select class="form-control">
                <option>نشط</option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
          </li>
          <li>
            <button type="submit" class="btn-main btn-ghost  ">
              <i class="icon-edit"></i>
              تعديل
            </button>
          </li>
          <li>
            <button
              type="submit"
              class="btn-main btn-disactive "
            >
              <i class="icon-trash"></i>
              حذف
            </button>
          </li>
        </ul>

      <table class="table table-style table-responsive-md mt-5">
        <thead>
          <tr>
            <th scope="col">الاسم</th>
            <th scope="col">المسمى الوظيفي</th>
            <th scope="col">نوع الوظيفة</th>
            <th scope="col">الرتبة</th>
            <th scope="col">اسم الادارة</th>
            <th scope="col">الفرع</th>
            <th scope="col">الحالة</th>
            <th scope="col">الاعدادات</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(0,5) -%}

          <tr>
            <th scope="row">محمد احمد</th>

            <td>مهندس معماري</td>

            <td>ادارية</td>

            <td>الاولى</td>
            <td>ادارة الرخص</td>
            <td>جدة</td>
            <td><p class="operation-status confirmed-status">نشط</p></td>
            <td>
              <ul class="setting-list">
                <li>
                  <a href="#"><i class="icon-edit"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-trash"></i></a>
                </li>
                <li>
                  <a href="#"> <i class="icon-arrow-left"></i></a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row">محمد احمد</th>

            <td>مهندس معماري</td>

            <td>ادارية</td>

            <td>الاولى</td>
            <td>ادارة الرخص</td>
            <td>جدة</td>
            <td><p class="operation-status cancelled-status">غير نشط</p></td>
            <td>
              <ul class="setting-list">
                <li>
                  <a href="#"><i class="icon-edit"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-trash"></i></a>
                </li>
                <li>
                  <a href="#"> <i class="icon-arrow-left"></i></a>
                </li>
              </ul>
            </td>
          </tr>

          {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>

{% endblock %}
