{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/components/header.njk" %} {% include
"templates/components/sidebar.njk" %}

<main class="main-content">
  <div class="employee-data">
    {% include "templates/components/search/employee-data.njk" %}
    <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="tab-01"
          data-toggle="tab"
          href="#content-01"
          role="tab"
          aria-controls="content-01"
          aria-selected="true"
        >
          الكل
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          id="tab-02"
          data-toggle="tab"
          href="#content-02"
          role="tab"
          aria-controls="content-02"
          aria-selected="true"
        >
          فرع 1
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          id="tab-03"
          data-toggle="tab"
          href="#content-03"
          role="tab"
          aria-controls="content-03"
          aria-selected="true"
        >
          فرع 2
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="tab-04"
          data-toggle="tab"
          href="#content-04"
          role="tab"
          aria-controls="content-04"
          aria-selected="true"
        >
          فرع 3
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          id="tab-05"
          data-toggle="tab"
          href="#content-05"
          role="tab"
          aria-controls="content-05"
          aria-selected="true"
        >
          هندسية
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          id="tab-06"
          data-toggle="tab"
          href="#content-06"
          role="tab"
          aria-controls="content-06"
          aria-selected="true"
        >
          ادارية
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active position-relative"
        id="content-01"
        role="tabpanel"
        aria-labelledby="tab-01"
      >
        <table class="table table-style table-responsive-md mt-5">
          <thead>
            <tr>
              <th scope="col">الاسم</th>
              <th scope="col">المسمى الوظيفي</th>
              <th scope="col">الكود التعريفي</th>
              <th scope="col">الفرع</th>
              <th scope="col">رقم التليفون</th>
              <th scope="col">البريد الالكتروني</th>
              <th scope="col">الحالة</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <img
                  class="user-picture completed"
                  src="assets/images/user-picture.png"
                  alt="user-picture"
                />محمد احمد
              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status cancelled-status">غير نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>

            <tr>
              <th>
                <img
                class="user-picture opening"
                src="assets/images/user-picture.png"
                alt="user-picture"
              />محمد احمد              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status confirmed-status">نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <img
                class="user-picture cancel"
                src="assets/images/user-picture.png"
                alt="user-picture"
              />محمد احمد              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status confirmed-status">نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <img
                class="user-picture "
                src="assets/images/user-picture.png"
                alt="user-picture"
              /> احمد                احمد
              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status cancelled-status">غير نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <img
                class="user-picture confirmed"
                src="assets/images/user-picture.png"
                alt="user-picture"
              />محمد احمد              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status confirmed-status">نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
        
            <tr>
              <th scope="row">
                <img
                  class="user-picture completed"
                  src="assets/images/user-picture.png"
                  alt="user-picture"
                />محمد احمد
              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status cancelled-status">غير نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>

            <tr>
              <th>
                <img
                class="user-picture opening"
                src="assets/images/user-picture.png"
                alt="user-picture"
              />محمد احمد              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status confirmed-status">نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <img
                class="user-picture cancel"
                src="assets/images/user-picture.png"
                alt="user-picture"
              />محمد احمد              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status confirmed-status">نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <img
                class="user-picture "
                src="assets/images/user-picture.png"
                alt="user-picture"
              /> احمد                احمد
              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status cancelled-status">غير نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <img
                class="user-picture confirmed"
                src="assets/images/user-picture.png"
                alt="user-picture"
              />محمد احمد              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status confirmed-status">نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
           
            <tr>
              <th>
                <img
                class="user-picture "
                src="assets/images/user-picture.png"
                alt="user-picture"
              /> احمد                احمد
              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status cancelled-status">غير نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <img
                class="user-picture confirmed"
                src="assets/images/user-picture.png"
                alt="user-picture"
              />محمد احمد              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status confirmed-status">نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <img
                class="user-picture "
                src="assets/images/user-picture.png"
                alt="user-picture"
              /> احمد                احمد
              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status cancelled-status">غير نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <img
                class="user-picture confirmed"
                src="assets/images/user-picture.png"
                alt="user-picture"
              />محمد احمد              </th>
              <th>المسمى الوظيفي</th>

              <td>12345</td>
              <td>جدة</td>
              <td>+20 111888388388</td>
              <td>youremail@domain.com</td>

              <td><p class="operation-status confirmed-status">نشط</p></td>
              <td class="menu-container">
                <a class="menu-show" href="#"><i class="icon-setting"></i></a>
                <ul class="emmployee-menu">
                  <li><a href="#">عرض بيانات الموظف</a></li>
                  <li><a href="#">رصيد اجازات الموظف</a></li>
                  <li><a href="#">اضافة\تعديل مهام</a></li>
                  <li><a href="#">تعديل بيانات</a></li>
                  <li><a href="#">الغاء التنشيط</a></li>
                  <li><a href="#"> حساب الاضافي</a></li>
                </ul>
              </td>
            </tr>
        
          

          
        
           
          
           
            
           
          </tbody>
        </table>
      </div>
      <div
        class="tab-pane fade"
        id="content-02"
        role="tabpanel"
        aria-labelledby="tab-02"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="content-03"
        role="tabpanel"
        aria-labelledby="tab-03"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="content-04"
        role="tabpanel"
        aria-labelledby="tab-04"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="content-05"
        role="tabpanel"
        aria-labelledby="tab-05"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="content-06"
        role="tabpanel"
        aria-labelledby="tab-06"
      >
        ...
      </div>
    </div>
  </div>
</main>

{% endblock %}
