<header>
  <div class="header-content">
    <div class="navbar-right">
      <h1>التقرير البياني</h1>
    </div>
    <div class="navbar-left">
      <div class="user-ntf">
        <span class="icon-ntf">
          <span
            ><img src="assets/images/notification.svg" alt="notification"
          /></span>
          <!-- <ul class="ntf-menu">
            <h4>الإشعارات</h4>
            <li class="ntf-item">
              <p class="ntf-desc">
                تم توصيل طلبك بنجاح .. نتمنى ان تكون تجربه سعيدة مع سنقر .. هيا
                اطلب من سنقر ما تريد
              </p>
              <span class="ntf-time">الآن</span>
              <i class="ntf-status"></i>
            </li>
            <li class="ntf-item">
              <p class="ntf-desc">
                تم توصيل طلبك بنجاح .. نتمنى ان تكون تجربه سعيدة مع سنقر .. هيا
                اطلب من سنقر ما تريد
              </p>
              <span class="ntf-time">الآن</span>
              <i class="ntf-status"></i>
            </li>
          </ul> -->
        </span>
      </div>
      <div class="user-avatar">
        <img src="assets/images/avatar.png" alt="avatar image" />

        <span>اهلا، سعد</span>

        <ul class="user-menu">
          <li>
            <a href="#">تسجيل الخروج</a>
          </li>
        </ul>
        <i class="icon-arrow-down"></i>
      </div>
    </div>
  </div>
</header>
