<header>
  <div class="header-content">
    <div class="navbar-right">
      <h1>التقرير البياني</h1>
    </div>
    <div class="navbar-left">
      <div class="ntf">
        <img src="assets/images/notification.svg" alt="notification" />
        <ul class="ntf-menu">
          <a href="#">اظهار الكل</a>
          <li class="ntf-item">
            <p class="ntf-desc">تم اضافة مستخدم جديد</p>

            <div class="ntf-time">
              <p>اليوم</p>
              <p>02:35</p>
            </div>
            <i class="ntf-status"></i>
          </li>
          <li class="ntf-item">
            <p class="ntf-desc">تم اضافة مستخدم جديد</p>
            <div class="ntf-time">
              <p>اليوم</p>
              <p>02:35</p>
            </div>
          </li>
          <li class="ntf-item">
            <p class="ntf-desc">تم اضافة مستخدم جديد</p>
            <div class="ntf-time">
              <p>اليوم</p>
              <p>02:35</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="user-avatar">
        <img src="assets/images/avatar.png" alt="avatar image" />

        <span>اهلا، سعد</span>

        <ul class="user-menu">
          <li>
            <a href="#">تسجيل الخروج</a>
          </li>
        </ul>
        <i class="icon-arrow-down"></i>
      </div>
    </div>
  </div>
</header>
