<div class="main-sidebar user-image">
  <div class="user-avatar">
    <img src="assets/images/profile-image.png" alt="avatar image" />
    <input
      type="file"
      class="picture-upload"
      style="display: none"
      accept="image/*"
    />
  </div>
  <a class="choose-image" href="#"> <i class="icon-edit"></i> تعديل</a>
</div>
