<div class="main-sidebar">
  <nav>
    <a href="/">
      <figure class="sidebar-logo">
        <img src="assets/images/logo.png" alt="logo" />
        <figcaption>بوابة الموظف</figcaption>
      </figure>
    </a>
    <ul>
      <li><a class="active" href="/index.html">التقرير البياني </a></li>
      <li><a href="#">ملفاتي</a></li>

      <li>
        <a href="#" class="data-btn">
          مكتبة البيانات
          <i class="icon-arrow-down one"></i>
        </a>
        <ul class="data-show">
          <li>
            <a href="#" class="structure-btn">
              الهيكل التنظيمي
              <i class="icon-arrow-down two"></i>
            </a>
            <ul class="structure-show">
              <li><a href="/empty-branche.html">الفروع</a></li>
              <li><a href="/administration.html">الادارة والاقسام</a></li>
              <li>
                <a href="#" class="employees-btn">
                  الموظفين
                  <i class="icon-arrow-down there"></i>
                </a>
                <ul class="employees-show">
                  <li><a href="#">التسلسل الوظيفي</a></li>
                  <li><a href="#">بيانات الموظفين</a></li>
                </ul>
                <a href="#" class="departure-btn">
                  الحضور والانصراف <i class="icon-arrow-down four"></i>
                </a>
                <ul class="departure-show">
                  <li><a href="#"> محددات الحضور</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">مكتبة النماذج</a></li>
    </ul>
  </nav>
</div>
